body {
  color: #E5E5E5;
}
p {
  color: #25202F;
}
h2{
  color: #8643DC;
}
.adam {
  color: #25202F;
}
.hel-span {
  color: #666666;
}
.lets-talk-but {
  background-color: #8643DC;
}
.about {
  color: #000000;
}
.nav-bar {
  color: #666666;
}
h3{
  color: #000000;
}
.explr {
  color: #25202F;
}
.parag {
  color: #47444E;
}
.deals {
  color: #000000;
}
blockquote {
  color: #636066;
}
.miche {
  color: #000000;
}
time {
  color: #8643DC;
}
.mail {
  color: #8643DC;
}
.quote {
  background-color: #8643DC;
}
.frnds {
  color: #21232D;
}